@use './variables' as *;

.container {
  position: relative;
  width: 96%;
  max-width: 346px;
  padding: 0 16px;
  margin: 0 auto;

  @media (min-width: $bp-md) {
    max-width: 696px;
    padding: 0 36px;
  }
  @media (min-width: $bp-lg) {
    max-width: 936px;
    padding: 0 36px;
  }
  @media (min-width: $bp-xl) {
    max-width: 1216px;
    padding: 0 112px;
  }
  @media (min-width: $bp-xxl) {
    max-width: 1680px;
    padding: 0 120px;
  }
}
